@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Ẩn thanh cuộn nhưng vẫn giữ tính năng cuộn */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  /* Đảm bảo tất cả phần tử sử dụng box-sizing: border-box */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 81 77% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 83 100% 97%;
    --secondary-foreground: 95 98% 17%;
    --muted: 83 100% 97%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 83 100% 97%;
    --accent-foreground: 95 98% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 87 88% 90%;
    --input: 81 77% 41%;
    --ring: 81 77% 41%;
    --bg-green: 83 100% 97%;
    --soft-green: 87 53% 65%;
    --strong-green: 95 98% 17%;
    --dark-green: 97 97% 13%;
    --very-dark-green: 98 96% 11%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 81 77% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 81 77% 41%;
    --bg-green: 83 100% 97%;
    --soft-green: 87 53% 65%;
    --strong-green: 95 98% 17%;
    --dark-green: 97 97% 13%;
    --very-dark-green: 98 96% 11%;
  }

  /* Áp dụng màu viền và focus cho các input, textarea, select */
  input:focus,
  textarea:focus,
  select:focus {
    @apply border-soft_green focus:outline-none;
  }

  /* Đặt màu nền và màu chữ cho body */
  body {
    @apply bg-background text-foreground;
  }

  /* Áp dụng màu viền mặc định cho tất cả phần tử */
  * {
    @apply border-border;
  }
}
